<%= form_with model: @article do |form| %>
  <div class="my-2">
    <%= form.label :title, class: "mb-2 form-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-danger my-2 p-2"><%= message %></div>
    <% end %>
  </div>

  <div class="my-2">
    <%= form.label :body, class: "mb-2 form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="alert alert-danger my-2 p-2"><%= message %></div>
    <% end %>
  </div>

  <div class="my-2">
    <%= form.submit class: "btn btn-primary my-2" %>
  </div>
<% end %>
